<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>First page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <h2>Old doctrines yield to the currents of change, enriching the soil for tomorrow's dreams</h2>
  </ion-text>

  <div class="buttons">
    <ion-button class="back" routerLink="/home" routerDirection="back">Back</ion-button>
    <ion-button class="next" routerLink="/second-page">Next</ion-button>
  </div>
</ion-content>
